{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<h1>Exemplos:</h1>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">GET imóveis</h3>
  </div>
  <div class="panel-body">
    <code>curl -X GET "http://localhost:8000/api/property/all"</code>
  </div>
  <div class="panel-body">
    <code>curl -X GET COM SEARCH "http://localhost:8000/api/property/all"</code>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">POST imóveis</h3>
  </div>
  <div class="panel-body">
    <code>curl -X POST -H "Content-Type: application/json" -d '{"title": "Casa para Venda em Bosque Maia, Guarulhos/SP","state": "SP","city": "Guarulhos", "name": "Bosque Maia","id_json": "1111","purpose": "Venda","listing_type": "Casa","published_on": "2014-12-23 03:01:51 BRST-0200"}' "http://localhost:8000/api/property/add/"</code>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Delete imóvel</h3>
  </div>
  <div class="panel-body">
    <code>curl -X DELETE "http://localhost:8000/api/property/remove/1111"</code>
  </div>
</div>
{% endblock %}